/* Hyperlinks */
a {
    color: aliceblue;
    font-weight: bold;
}

/* Sections and subsections */
h1 {
    background-color: #00aa00;
    font-size: x-large;
    color: aliceblue;
}

h1::before {
    content: "# ";
    color: yellow;
}

h2 {
    background-color: #00aa00;
    font-size: larger;
    color: aliceblue;
}

h2::before {
    content: "## ";
    color: yellow;
}

/* Post header */
header::before {
    content: "Published: ";
    font-style: italic;
    font-weight: normal;
    color: #bbbbbb;
}

header {
    float: right;
    font-weight: bolder;
    color: white;
}

/* Theorems, lemmas, corollaries, ... */
.theorem {
    padding: 10px;
    border: 2px solid white;
}

.theorem::before {
    content: "Theorem: ";
    color: white;
    font-weight: bold;
}

.lemma {
    padding: 10px;
    border: 2px solid white;
}

.lemma::before {
    content: "Lemma: ";
    color: white;
    font-weight: bold;
}

.corollary {
    padding: 10px;
    border: 2px solid white;
}

.corollary::before {
    content: "Corollary: ";
    color: white;
    font-weight: bold;
}

.definition {
    padding: 10px;
    border: 2px solid white;
}

.definition::before {
    content: "Definition: ";
    color: white;
    font-weight: bold;
}

.problem {
    padding: 10px;
    border: 2px solid white;
}

.problem::before {
    content: "Problem: ";
    color: white;
    font-weight: bold;
}

.proof {
    padding: 10px;
}

.proof::before {
    content: "Proof: ";
    color: white;
    font-style: italic;
}

.proof::after {
    color: black;
    float: right;
    text-shadow: #fff 0px 0px 5px;
    -webkit-font-smoothing: antialiased;
    content: "∎";
    font-size: x-large;
}

.solution {
    padding: 10px;
}

.solution::before {
    content: "Solution: ";
    color: white;
    font-style: italic;
}

.solution::after {
    color: black;
    float: right;
    text-shadow: #fff 0px 0px 5px;
    -webkit-font-smoothing: antialiased;
    content: "∎";
    font-size: x-large;
}

.hangingindent {
  padding-left: 22px ;
  text-indent: -22px ;
}